# ignore compiled project
/SEM_s
/SEM_gbar

# ignore folders
awkscripts/
plots/
test/
stout/

# stuff from valgrin
massif*

=======
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/src/TAGS
/matrix/bak/B3.c_bak
/matrix/bak/B4.c_bak
/matrix/bak/B5.c_bak
/matrix/bak/B6.c_bak
/matrix/bak/B7.c_bak
/matrix/bak/CD_bak.c
/matrix/bak/Me3.c_bak
/matrix/bak/Me4.c_bak
/matrix/bak/Me5.c_bak
/matrix/bak/Me6.c_bak
/matrix/bak/Me7.c_bak
/SEM_p
/lib/gauss-legendre-quadrature.zip
/mynodes
/nodefile
/src/mpidata_old.cpp
/src/mpidata_old.h
/src/tmp.cpp
