# ignore compiled project
/SEM_s
/SEM_gbar

# ignore folders
awkscripts/
plots/
test/
stout/

# stuff from valgrin
massif*

=======
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
